*{
    padding:0;
    margin:0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    min-height: 100%;
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 60px;
    color: #FFFFFF;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{

    color: #F09937;
}

a:hover{

    color: #F09937;
}

.title-text{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.theme-container{
    padding: 50px;
    background-color: #323232;
}
.outer-con{
    padding:50px 0;
}

.p-header-text{
    margin-top:20px;
    color:#F09937;
}

@media (max-width: 767px){
    .title-text{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 540px){
    .title-text{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: left;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .title-text span{
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
    .theme-container{
        padding: 20px;
    }
    .outer-con{
        padding:20px 0;
    }
}

